html {
  scroll-behavior: smooth;
  font-family: Poppins, serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  color: #fff;
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

footer {
  display: unset;
  margin: 0;
  padding: 0;
}

body:has(.menu:target) .body-wrapper, body:not(:has(.menu:target)) .menu {
  height: 0;
  overflow: hidden;
}

.footer-image {
  z-index: -1;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  position: sticky;
  bottom: 0;
}

.header {
  z-index: 1;
  background: linear-gradient(#1d1d1d, #0000);
  flex-direction: row;
  height: 38px;
  margin: 0;
  padding: 19px 38px;
  display: flex;
  position: sticky;
  top: 0;
}

.header__logo {
  flex-grow: 8;
  align-content: center;
  margin: auto;
  padding: 0;
  display: block;
}

.header__logo img {
  height: 38px;
  margin: auto auto auto 0;
  padding: 0;
  display: block;
}

.header__call, .header__menu {
  background: none;
  border: none;
  flex-grow: 1;
  align-content: center;
  margin: auto;
  padding: 0;
  display: block;
  position: relative;
}

.header__call img, .header__menu img {
  height: 22.8px;
  margin: auto;
  padding: 0;
  display: block;
}

@media (width >= 500px) {
  .header__call:hover:before {
    content: "+38 (096) 284-04-31";
    text-align: right;
    color: #fff;
    width: 190px;
    position: absolute;
    left: -190px;
  }
}

.header__menu div {
  background-image: url("menu.99871271.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22.8px;
  height: 22.8px;
  margin: auto;
}

.header__menu:hover div {
  background-image: url("menu-hover.8b53ad3b.png");
}

.main {
  width: 100%;
  position: relative;
  top: -76px;
}

.main__first {
  background-image: url("first.4e53d757.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: block;
  position: relative;
  top: 0;
  right: 0;
}

.main__first-text {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 30%;
}

.main__motto {
  background-color: #1d1d1d;
  margin: auto;
  padding: 20px;
  display: flex;
}

.main__motto-short, .main__motto-full {
  text-align: center;
  flex-grow: 1;
  align-content: center;
}

.main__motto-short {
  width: 10vw;
}

.main__motto-full {
  width: 40vw;
}

.main__compare {
  background-color: #1d1d1d;
}

.main__compare-title {
  text-align: center;
  align-content: center;
  height: 20vh;
  margin: 0;
  padding: 0;
}

.main__compare-container {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 90%;
  padding: 5%;
  display: flex;
}

.main__details {
  background-color: #1d1d1d;
  flex-direction: column;
  width: 90%;
  padding: 5%;
  display: flex;
}

.main__details-button {
  border: 0;
  border-radius: max(2vh, 2vw, 10px);
  width: max(16vh, 16vw, 80px);
  height: max(4vh, 4vw, 20px);
  margin: auto;
  font-size: 16px;
  transition-duration: .1s;
}

.main__details-button:hover {
  box-shadow: 0 0 .5vh #fff;
}

.main__details-button:active {
  box-shadow: 0 0 1vh #fff;
}

.card {
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 10px;
  transition-duration: .1s;
  display: flex;
}

.card:hover {
  transform: scale(1.2);
}

.card__image-wrapper {
  margin: 0;
  padding: 0;
}

.card__image {
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 4;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.card__title {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.card__text {
  flex-grow: 2;
  margin: 0;
  padding: 0;
}

.card__price {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.detail__images {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.detail__image-wrap {
  flex-shrink: 1;
  padding: 20px 10px;
}

.detail__image-wrap--main {
  flex-shrink: 2;
}

.detail__image {
  object-fit: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: max(20vh, 30vw);
  transition-duration: .1s;
}

.detail__image:hover {
  transform: scale(1.2);
}

.contact-us {
  left: 0;
  right: 0;
}

.contact-us__title {
  text-align: center;
}

.contact-us__container {
  flex-flow: wrap;
  justify-content: space-around;
  gap: 20%;
  width: 90%;
  padding: 5%;
  display: flex;
}

.contact-us__column {
  justify-content: center;
  gap: 10px;
  width: 300px;
}

.contact-us__form-name, .contact-us__form-mail {
  border-radius: 2vh;
  width: 90%;
  height: max(4vh, 20px);
  margin: 10px auto;
  padding: 0 2vh;
  display: block;
}

.contact-us__form-message {
  border-radius: 2vh;
  width: 90%;
  height: max(10vh, 50px);
  margin: 10px auto;
  padding: 2vh;
  display: block;
}

.contact-us__form-button {
  border: 0;
  border-radius: 2vh;
  width: 50%;
  height: max(4vh, 20px);
  margin: 20px auto;
  font-size: 16px;
  transition-duration: .1s;
  display: block;
  position: relative;
}

.contact-us__button:hover {
  box-shadow: 0 0 .5vh #fff;
}

.contact-us__button:active {
  box-shadow: 0 0 1vh #fff;
}

.contact-us__phone, .contact-us__mail, .contact-us__address {
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contact-us__phone:hover, .contact-us__mail:hover, .contact-us__address:hover {
  color: #c2c2c2;
}

.menu {
  background-color: #c2c2c2;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.menu a {
  text-decoration: none;
}

.menu__top {
  z-index: 1;
  background: linear-gradient(#c2c2c2, #0000);
  flex-direction: row;
  height: 38px;
  margin: 0;
  padding: 19px 38px;
  display: flex;
  position: sticky;
  top: 0;
}

.menu__logo {
  flex-grow: 8;
  align-content: center;
  margin: auto;
  padding: 0;
  display: block;
}

.menu__logo img {
  height: 38px;
  margin: auto auto auto 0;
  padding: 0;
  display: block;
}

.menu__close {
  background: none;
  border: none;
  flex-grow: 1;
  margin: auto;
  padding: 0;
  display: block;
}

.menu__close img {
  height: 22.8px;
  margin: auto;
  padding: 0;
  display: block;
}

.menu__home, .menu__about-us, .menu__compare-bikes, .menu__details, .menu__phone, .menu__book {
  text-transform: uppercase;
  color: #1d1d1d;
  margin: 0;
  padding: 11.4px 38px;
  position: relative;
}

.menu__phone {
  padding-top: 38px;
}

.menu__book {
  text-underline-offset: 10px;
  text-decoration: underline 2px;
}
/*# sourceMappingURL=index.e378193d.css.map */
